include ./abstracts/_config
include ./abstracts/_common
doctype html
html(lang="en").no-js
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    if (FONTS.google)
      link(rel="preconnect", href="https://fonts.googleapis.com")
      link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
      link(rel="stylesheet", href!=`${fontsLink()}`)
    link(rel="stylesheet", href=`${root}assets/theme.css?cache=123345`)
    script(src=`${root}assets/vendor/modernizr.js`, defer)
    //- script(src=`${root}assets/vendor/jquery-3.6.0.min.js`, defer)
    //- script(src=`${root}assets/vendor/font-awesome.js`, defer)
    block head
      if (page || pageTitle)
        unless (pageTitle)
          - pageTitle = page
        title #{pageTitle} | #{CONFIG.siteName}
      else
        title #{CONFIG.siteName}

  body
    include ../svg/sprite.svg
    block header
      include ./partials/_header
    block main
      main
        case page
          default
            unless pageTitle
              - pageTitle = page
            h1= pageTitle
            block content
    block footer
      include ./partials/_footer
      script(src=`${root}assets/app.min.js`, defer)