//- common mixins used all across the site, more specific mixins in components folder

//- TOOLS
//- Generate element n times
mixin loop(count)
  - let n = 0
  while n < count
    block 
    - n++
//- generate lists from strings: value should be an object or array with names or links
mixin ol-string(value, separator=',')
  ol&attributes(attributes)
    each elem in value.split(separator)
      li #{elem}

mixin ul-string(value, separator=',')
  ul&attributes(attributes)
    each elem in value.split(separator)
      li #{elem}

//- Generate Icon links, or name links. Icons should be added on svg sprite as xxx-icon to work. Check theme folder: base/icons.sass for styling. Autogenerate empty links. If target is not specified won't be added.
mixin link(name, href, target)
  -
    isIcon = name.toLowerCase().indexOf('-icon') !== -1
    href = href || '#'
  a(
    href= href,
    class=(isIcon ? 'icon' : false),
    target= (target ? '_blank' : false)
  )
    if (isIcon)
      +svg(name) 
    else
      | #{name}

//- Generate structure for svg icons using def symbols. All icons should be added to svg/sprite.svg
mixin icon(elId, elClass)
  - elClass = elClass || false
  span.icon(class = elClass)
    +svg(elId)
    
mixin svg(elId)
  - elId = '#' + elId
  svg
    use(xlink:href= elId)